<div class="container">
  <h2 class="title-user">Forgot Your Password?</h2>
  <div class="grid">
    <div class="user-form">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Reset Your Password", class: "drinks-button" %>
        </div>
      <% end %>
      <div class="pad-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>