<%= javascript_pack_tag 'FoodCarts/index' %>
<div id="map"
     style="width: 75%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<% @food_carts.each do |food_cart| %>
  <ul>
    <li><%= food_cart.id %></li>
    <li><%= food_cart.name %></li>
    <%= link_to 'more info', food_cart_path(food_cart) %>
  </ul>
<%  end %>