
<%= render partial: 'shared/react_entry', locals: {data: {food_cart: @food_cart.to_json(include: [:schedules, :menu, :food_items]), user: current_user, is_liked: current_user.voted_up_on?(@food_cart)}.to_json, content_type: "FOOD_CART"} %>
<div class="schedule-container">
  <% if policy(@food_cart.schedules).create? %>
    <%= link_to 'Create Schedule', new_food_cart_schedule_path(@food_cart) %>
  <% end %>
  <% if @food_cart.user == current_user %>
    <%= @food_cart.user.first_name %>
    <%= @food_cart.user %>
    <%= link_to 'Add Menu', new_food_cart_menu_path(@food_cart) unless @food_cart.menu != nil %>
  <% end %>
  <%= link_to 'Show Menu', food_cart_menu_path(@food_cart) %>
  <%= link_to 'show schedule', food_cart_schedules_path(@food_cart) %>
</div>

