
<%= render partial: 'shared/react_entry', locals: {data: {food_cart: @food_cart.to_json(include: [:schedules, :menu, :food_items]), user: current_user, is_liked: current_user.voted_up_on?(@food_cart), photo_key: @food_cart.photo.key}.to_json, content_type: "FOOD_CART"} %>
<div class="schedule-container">
  <% if policy(@food_cart.schedules).create? %>
    <%= link_to 'Create Schedule', new_food_cart_schedule_path(@food_cart) %>
  <% end %>
  <% if @food_cart.user == current_user %>
    <%= link_to 'Add Menu', new_food_cart_menu_path(@food_cart) unless @food_cart.menu != nil %>
  <% end %>
  <%= link_to 'Show Menu', food_cart_menu_path(@food_cart) %>
  <%= link_to 'Show Schedule', food_cart_schedules_path(@food_cart) %>
  <%= link_to 'Add Food Item', new_food_cart_menu_food_item_path(@food_cart, @food_cart.menu) %>

</div>

<!-- Dynamic titles and descriptions for food cart -->
<% content_for :meta_title, "#{@food_cart.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @food_cart.cart_description %>
<% content_for :meta_image, cl_image_path(@food_cart.photo.path) %>